<template name="meetups">
    {{#each selectRegions regions}}
        <div class="row">
            <div class="col-xs-12">
                <h2>{{this}}</h2>
            </div>
        </div>
        <div class="row">
        {{#each meetups this}}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel meetups">
                    {{#if cityTextIsLong this}}
                        <h4><a target="_blank" href="{{url}}">{{city}}</a></h4>
                    {{else}}
                        <h3><a target="_blank" href="{{url}}">{{city}}</a></h3>
                    {{/if}}

                    <!-- show addtional data only if available -->
                    {{#if attendees}}
                      <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4 hosts">
                                    <h6>Hosts</h6>
                                </div>
                                <div class="col-xs-8 attendees">
                                    <h6>Attendees</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    {{#each hostsTruncated this}}
                                        <a href="{{profile_url}}" target="_blank" title="{{ memberName }}" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="{{thumbnailUrl}}"></a>
                                    {{/each}}
                                    <a target="_blank" href="{{url}}">{{#if hostsRemaining this }} + {{hostsRemaining this}} {{/if}}</a>
                                </div>
                                <div class="col-xs-8">
                                    {{#each attendees}}
                                        <a href="{{profile_url}}" target="_blank" title="{{ memberName }}" data-toggle="tooltip"><img class="img-circle" width=30 height=30 src="{{thumbnailUrl}}"></a>
                                    {{/each}}
                                    <a target="_blank" href="{{url}}" class="overflow-attendees">{{#if remaining this }} + {{remaining this}} {{/if}}</a>
                                </div>
                            </div>
                      </div>
                    {{/if}}
                </div>
            </div>
        {{/each}}
        </div>
        <br/>
    {{/each}}
</template>
